.most-beautiful-house-in-the-wo-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1444px;
  height: 631px;
  object-fit: cover;
}
.image-11 {
  position: absolute;
  top: 0;
  left: -20px;
  width: 800px;
  height: 512px;
}
.downtown-1-icon4,
.web-page-1-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
}
.web-page-1-child {
  background-color: var(--color-darkslategray-400);
  width: 1444px;
}
.downtown-1-icon4 {
  width: 106px;
  object-fit: cover;
}
.city-name4,
.post-property4 {
  position: absolute;
  top: 7px;
  left: 119px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  display: inline-block;
  width: 168px;
  height: 42px;
}
.post-property4 {
  top: 16px;
  left: 936px;
  font-size: var(--font-size-xl);
  text-align: center;
  width: 208px;
}
.dropdown-removebg-preview-1-icon4,
.dropdown-removebg-preview-2-icon3 {
  position: absolute;
  top: 18px;
  left: 266px;
  width: 22px;
  height: 21px;
  object-fit: cover;
}
.dropdown-removebg-preview-2-icon3 {
  top: 21px;
  left: 1351px;
}
.web-page-1-child1,
.web-page-1-inner,
.web-page-1-item {
  position: absolute;
  top: 9.5px;
  left: 297.5px;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1px;
  height: 38px;
}
.web-page-1-child1,
.web-page-1-inner {
  top: 8.5px;
  left: 1219.5px;
}
.web-page-1-child1 {
  left: 1375.5px;
}
.big-image-login-icon-with-tran4,
.hamburger-1-removebg-preview-1-icon4 {
  position: absolute;
  top: 6px;
  left: 1383px;
  width: 50px;
  height: 41px;
  object-fit: cover;
}
.big-image-login-icon-with-tran4 {
  left: 1317px;
  width: 34px;
  height: 39px;
}
.download-removebg-preview-1-icon4 {
  position: absolute;
  top: 13px;
  left: 1276px;
  width: 31px;
  height: 29px;
  object-fit: cover;
}
.download-1-removebg-preview-icon4 {
  position: absolute;
  top: 8px;
  left: 1234px;
  width: 32px;
  height: 35px;
  object-fit: cover;
}
.web-page-1-child2 {
  cursor: pointer;
  border: 2px solid var(--color-mediumseagreen);
  padding: 0;
  background-color: var(--color-snow);
  position: absolute;
  top: 11px;
  left: 965px;
  box-sizing: border-box;
  width: 245px;
  height: 33px;
}
.free4,
.web-page-1-child3 {
  position: absolute;
  left: 1117px;
  width: 85px;
}
.web-page-1-child3 {
  top: 18px;
  background-color: var(--color-gray-100);
  height: 19px;
}
.free4 {
  top: 16px;
  font-size: var(--font-size-base);
  font-family: var(--font-kaisei-decol);
  color: var(--color-darkslategray-300);
  text-align: center;
  display: inline-block;
}
.web-page-1-child4 {
  position: absolute;
  top: 569px;
  left: 180px;
  background-color: var(--color-darkslategray-500);
  width: 1054px;
  height: 126px;
}
.web-page-1-child5 {
  position: absolute;
  top: 52px;
  left: 0;
  background-color: var(--color-darkslategray-600);
  width: 1444px;
  height: 54px;
}
.buy-rent-11 {
  position: absolute;
  top: 538px;
  left: 277px;
  width: 869px;
  height: 94px;
  object-fit: cover;
}
.web-page-1-child6 {
  position: absolute;
  top: 642px;
  left: 196px;
  width: 1024px;
  height: 42px;
}
.all-residential1,
.buy4,
.rent4,
.sell4 {
  position: absolute;
  top: 648px;
  left: 203px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 168px;
  height: 42px;
}
.buy4,
.rent4,
.sell4 {
  top: 66px;
  left: 18px;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-200);
  width: 70px;
}
.rent4,
.sell4 {
  left: 104px;
}
.sell4 {
  top: 64px;
  left: 190px;
}
.home-loans4,
.property-services5,
.property-services6 {
  position: absolute;
  top: 66px;
  left: 277px;
  color: var(--color-gray-300);
  display: inline-block;
  width: 144px;
  height: 42px;
}
.property-services5,
.property-services6 {
  left: 456px;
  width: 211px;
}
.property-services6 {
  top: 703px;
  left: 579px;
  font-size: var(--font-size-21xl);
  color: var(--color-gray-500);
  width: 371px;
}
.price1,
.property-type1,
.search2 {
  position: absolute;
  top: 650px;
  left: 927px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 168px;
  height: 42px;
}
.price1,
.search2 {
  top: 649px;
  left: 843px;
  font-size: var(--font-size-3xl);
}
.search2 {
  top: 647px;
  left: 432px;
  color: var(--color-dimgray);
}
.removebg-preview-1-icon1,
.removebg-preview-2-icon1,
.removebg-preview-3-icon1 {
  position: absolute;
  top: 653px;
  left: 350px;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.removebg-preview-2-icon1,
.removebg-preview-3-icon1 {
  top: 654px;
  left: 1061px;
}
.removebg-preview-3-icon1 {
  left: 896px;
}
.web-page-1-child7 {
  position: absolute;
  top: 646.5px;
  left: 379.5px;
  border-right: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  width: 1px;
  height: 34px;
}
.web-page-1-child8,
.web-page-1-child9 {
  position: absolute;
  top: 647px;
  left: 1087px;
  width: 1px;
  height: 33px;
}
.web-page-1-child9 {
  left: 920.5px;
}
.web-page-1-child10,
.web-page-1-child11 {
  position: absolute;
  top: 646px;
  left: 835.5px;
  width: 1px;
  height: 33px;
}
.web-page-1-child11 {
  top: 658.5px;
  border-right: 1px solid var(--color-gray-900);
  box-sizing: border-box;
  height: 4px;
}
.instagram-icon-black-png-searc1,
.near-icon-13-removebg-preview1 {
  position: absolute;
  top: 645px;
  left: 803px;
  width: 29px;
  height: 35px;
  object-fit: cover;
}
.instagram-icon-black-png-searc1 {
  top: 647px;
  left: 389px;
  width: 34px;
  height: 33px;
}
.search3,
.web-page-1-child12 {
  position: absolute;
  left: 1097px;
  width: 113px;
}
.web-page-1-child12 {
  top: 647px;
  background-color: var(--color-mediumseagreen);
  height: 33px;
}
.search3 {
  top: 649px;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-800);
  text-align: center;
  display: inline-block;
  height: 31px;
}
.web-page-1-child13,
.web-page-1-child15 {
  position: absolute;
  top: 52px;
  left: 258px;
  width: 183px;
  height: 54px;
}
.web-page-1-child15 {
  left: 439px;
  width: 251px;
}
.web-page-1-child16,
.web-page-1-child17 {
  position: absolute;
  top: 52px;
  left: 172px;
  width: 88px;
  height: 54px;
}
.web-page-1-child17 {
  left: 86px;
}
.dropdown-removebg-preview-3-icon4 {
  position: absolute;
  top: 75px;
  left: 661px;
  width: 22px;
  height: 21px;
  object-fit: cover;
}
.ps2-inner {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 440px;
  height: 237px;
}
.pay-rent1 {
  margin: 0;
  font-weight: 600;
}
.pay-your-rent1 {
  margin: 0;
  font-size: var(--font-size-lg);
}
.pay-rent-pay-container1 {
  position: absolute;
  top: 151px;
  left: 14px;
  display: inline-block;
  width: 410px;
  height: 66px;
}
.icon13,
.ps22,
.ps23 {
  position: absolute;
  width: 438px;
}
.icon13 {
  top: 0;
  left: 0;
  height: 146px;
  object-fit: cover;
}
.ps22,
.ps23 {
  top: 752px;
  left: 975px;
  height: 235px;
  color: var(--color-black);
}
.ps23 {
  left: 503px;
}
.home-shifting-and1 {
  margin: 0;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
}
.ps11 {
  position: absolute;
  top: 752px;
  left: 33px;
  width: 438px;
  height: 235px;
  color: var(--color-black);
}
.web-page-1 {
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 1020px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-700);
  font-family: var(--font-inter);
}
