.downtown-1-icon1,
.web-page-4-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 52px;
}
.web-page-4-child {
  background-color: var(--color-darkslategray-400);
  width: 1444px;
}
.downtown-1-icon1 {
  width: 106px;
  object-fit: cover;
}
.city-name1,
.post-property1 {
  position: absolute;
  color: var(--color-white);
  display: inline-block;
  height: 42px;
}
.city-name1 {
  top: 7px;
  left: 119px;
  font-size: var(--font-size-11xl);
  text-align: left;
  width: 168px;
}
.post-property1 {
  top: 16px;
  left: 936px;
  font-size: var(--font-size-xl);
  width: 208px;
}
.dropdown-removebg-preview-1-icon1,
.dropdown-removebg-preview-2-icon {
  position: absolute;
  top: 18px;
  left: 266px;
  width: 22px;
  height: 21px;
  object-fit: cover;
}
.dropdown-removebg-preview-2-icon {
  top: 21px;
  left: 1351px;
}
.web-page-4-child1,
.web-page-4-inner,
.web-page-4-item {
  position: absolute;
  top: 9.5px;
  left: 297.5px;
  border-right: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1px;
  height: 38px;
}
.web-page-4-child1,
.web-page-4-inner {
  top: 8.5px;
  left: 1219.5px;
}
.web-page-4-child1 {
  left: 1375.5px;
}
.big-image-login-icon-with-tran1,
.hamburger-1-removebg-preview-1-icon1 {
  position: absolute;
  top: 6px;
  left: 1383px;
  width: 50px;
  height: 41px;
  object-fit: cover;
}
.big-image-login-icon-with-tran1 {
  left: 1317px;
  width: 34px;
  height: 39px;
}
.download-removebg-preview-1-icon1 {
  position: absolute;
  top: 13px;
  left: 1276px;
  width: 31px;
  height: 29px;
  object-fit: cover;
}
.download-1-removebg-preview-icon1 {
  position: absolute;
  top: 8px;
  left: 1234px;
  width: 32px;
  height: 35px;
  object-fit: cover;
}
.web-page-4-child2 {
  position: absolute;
  top: 11px;
  left: 965px;
  background-color: var(--color-snow);
  border: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  width: 245px;
  height: 33px;
}
.free1,
.web-page-4-child3 {
  position: absolute;
  left: 1117px;
  width: 85px;
}
.web-page-4-child3 {
  top: 18px;
  background-color: var(--color-gray-100);
  height: 19px;
}
.free1 {
  top: 16px;
  font-size: var(--font-size-base);
  font-family: var(--font-kaisei-decol);
  color: var(--color-darkslategray-300);
  display: inline-block;
}
.web-page-4-child4 {
  position: absolute;
  top: 52px;
  left: 0;
  background-color: var(--color-darkslategray-600);
  width: 1444px;
  height: 54px;
}
.buy1,
.home-loans1,
.property-services2,
.rent1,
.sell1 {
  position: absolute;
  top: 66px;
  left: 18px;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 70px;
  height: 42px;
}
.home-loans1,
.property-services2,
.rent1,
.sell1 {
  left: 104px;
}
.home-loans1,
.property-services2,
.sell1 {
  top: 64px;
  left: 190px;
}
.home-loans1,
.property-services2 {
  top: 66px;
  left: 277px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-300);
  width: 144px;
}
.property-services2 {
  left: 456px;
  width: 211px;
}
.web-page-4-child5 {
  position: absolute;
  top: 52px;
  left: 258px;
  width: 183px;
  height: 54px;
}
.web-page-4-child7,
.web-page-4-child8,
.web-page-4-child9 {
  position: absolute;
  top: 52px;
  left: 439px;
  width: 251px;
  height: 54px;
}
.web-page-4-child8,
.web-page-4-child9 {
  left: 172px;
  width: 88px;
}
.web-page-4-child9 {
  left: 86px;
}
.dropdown-removebg-preview-3-icon1 {
  position: absolute;
  top: 75px;
  left: 661px;
  width: 22px;
  height: 21px;
  object-fit: cover;
}
.new-real-estate1 {
  position: absolute;
  top: 173px;
  left: 348px;
  font-size: var(--font-size-29xl);
  font-family: var(--font-marmelad);
  display: inline-block;
  width: 747px;
  height: 42px;
}
.web-page-4-child10,
.web-page-4-child11,
.web-page-4-child12 {
  position: absolute;
  top: 321px;
  left: 14px;
  border-radius: var(--br-13xl);
  width: 446px;
  height: 424px;
  object-fit: cover;
}
.web-page-4-child11,
.web-page-4-child12 {
  top: 336px;
  left: 501px;
}
.web-page-4-child12 {
  top: 338px;
  left: 979px;
}
.best-sellers1 {
  position: absolute;
  top: 336px;
  left: -137px;
  display: inline-block;
  font-family: var(--font-martel-sans);
  width: 747px;
  height: 42px;
}
.recommended1 {
  margin: 0;
}
.handpicked-projects2,
.our-freshly-brewed1,
.recommended-insights1 {
  position: absolute;
  top: 338px;
  left: 348px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  font-family: var(--font-martel-sans);
  width: 747px;
  height: 42px;
}
.handpicked-projects2,
.our-freshly-brewed1 {
  top: 341px;
  left: 851px;
}
.our-freshly-brewed1 {
  top: 405px;
  left: 34px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-marmelad);
  width: 411px;
  height: 128px;
}
.web-page-4-child13 {
  position: absolute;
  top: 648px;
  left: 112px;
  background-color: var(--color-teal-200);
  width: 250px;
  height: 60px;
}
.view-all3 {
  position: absolute;
  top: 648px;
  left: -137px;
  display: inline-block;
  font-family: var(--font-martel-sans);
  width: 747px;
  height: 42px;
}
.web-page-4-child14 {
  position: absolute;
  top: 648px;
  left: 598px;
  background-color: var(--color-teal-300);
  width: 250px;
  height: 60px;
}
.view-all4 {
  position: absolute;
  top: 648px;
  left: 349px;
  display: inline-block;
  font-family: var(--font-martel-sans);
  width: 747px;
  height: 42px;
}
.web-page-4-child15 {
  position: absolute;
  top: 648px;
  left: 1085px;
  background-color: var(--color-teal-300);
  width: 250px;
  height: 60px;
}
.view-all5 {
  position: absolute;
  top: 648px;
  left: 836px;
  display: inline-block;
  font-family: var(--font-martel-sans);
  width: 747px;
  height: 42px;
}
.web-page-4 {
  position: relative;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 1020px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-600);
  font-family: var(--font-inter);
}
